n8n/Appointment_Simple_Agent.json
{
  "name": "Appointment_Simple_Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Appointment Calendar",
        "formDescription": "We will take the user data and accordint to the date we'll automate an email ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name ",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "08287ea2-ce77-4ef5-9912-21d7b68dbf1b",
      "name": "On form submission",
      "webhookId": "3afb70a4-b5ec-4de1-973c-aa21a4366bda"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e25be16b-c446-4e7c-870f-f513402afbd1",
              "leftValue": "={{ $json.Date}}",
              "rightValue": "={{ new Date(new Date($json.submittedAt).setDate(new Date($json.submittedAt).getDate() + 7)).toISOString().slice(0,10) }} ",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "e9fc4964-4921-4386-a16b-72f496c8b979",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        20
      ],
      "id": "9fae1e44-edd7-442f-88bf-a3eca0f46e25",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Appointment Confirmed",
        "emailType": "text",
        "message": "=Your Appointment is scheduled on  {{ $json.Date }}\n\nHappy to see you there!\n\nRegards,\nXYZ Company",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -140
      ],
      "id": "5ac6a683-d666-4386-add3-668bcab51451",
      "name": "Send a message",
      "webhookId": "436a4499-cff7-4721-8e56-7ed3a8195c64",
      "credentials": {
        "gmailOAuth2": {
          "id": "fNzfZvoUlKGW2jA8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "231cb9e3-2a19-4534-be29-e5fb20448654",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4565a78eda52c46e32855e1ca89db2b3dc7f1d1e69f4d17afa46bf1ad6e16b86"
  },
  "id": "OUy5btVufA6Xz4Qv",
  "tags": []
}